@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
.line__wrapper {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line {
    font-family: 'Nunito';
    display: flex;
    column-gap: 6px;
    align-items: center;
    font-size: 26px;
    font-weight: 600px;
}
